<h1><%= @team_show.owner%>'s Team</h1>



    <h3> Name: <%= @team_show.team_name %>   </h3>




<p>Team members:</p>


<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Score</th>
  </tr>
<%counter = 1 %>
  <%for character in @team_show.characters%>
    <tr>
      <td><%= counter%></td>
      <td><%=character.name%></td>
      <td><%=character.score%></td>
    </tr>
  <%counter = counter+1%>
  <%end%>

</table>




<form action="/teams/<%= @team_show.id %>/edit" method="get">
  <!-- <input type="hidden" name="_method" value=""> -->
  <input type="submit" value="Edit Team Name">
</form>

<form action="/teams" method="get">
  <!-- <input type="hidden" name="_method" value=""> -->
  <input type="submit" value="Go Back to Teams">
</form>
