<h1>Team standings</h1>



<table class = "standings">
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Score</th>
  </tr>
  <% counter = 1 %>
  <% for team in @teams %>
  <tr>
    <td><%= counter %></td>
    <td><a href="/teams/<%= team.id %>"> <%=team.team_name%></td>
      <td><%=team.owner%></td>
      <td><%=team.score%></td>
    </tr>
    <%counter = counter+1%>
    <%end%>

  </table>
